
nav {
    display: inline-block;
    display: flex;
    background-color: white;

}
.copa {
    text-transform: uppercase;
    margin-left: 4rem ;
    font-size: 2rem;
    font-weight: 400;
}
.bandeiras{
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width: 70vw;
}
img {
    height: 7rem;
}
main{
    background-color: green;
}
.banneregol{
height: 70vh;
background-image: url('https://i.pinimg.com/originals/98/6f/d1/986fd14123412ac52c8d6ad1b9491b4f.png');
background-size: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
 flex-direction: column;
 padding-top: 10vw;
 padding-left: 6.5rem;
 border-bottom: solid 1.5px #ffffff;
}
#banner{
    font-size: 5rem;
    text-transform: uppercase;
    color: white;
}
 
.boxBandeiras{
    display: flex;
    justify-content:space-evenly;
}
.bandeira{
    width: 250px;
    height: 250px;
}
.rodape{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70vw;
}
